MODE=development

HTTP_PORT=8083
JWT_SECRET=

REDIS_ADDRESS=
REDIS_PASSWORD=
REDIS_DB=

WALLET_GRPC_ADDRESS=localhost:10001
TRANSACTION_GRPC_ADDRESS=localhost:10002
INVESTMENT_GRPC_ADDRESS=localhost:10003
DASHBOARD_GRPC_ADDRESS=localhost:10004